  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active" data-toggle="tab">Flight Search</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" data-toggle="tab">Book Flight</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab">Manage Bookings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab">Booking History</a>
      </li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane container active" id="home">...</div>
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container fade" id="menu2">...</div>
    <div class="tab-pane container fade" id="menu3">...</div>
  </div>